ClientWinForms/Connected Services/ServiceReference1/AppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:27205/AppService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:27205/AppService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:27205/AppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfApplication" />
      <xsd:import schemaLocation="http://localhost:27205/AppService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppService_ShowFaculties_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowFaculties" />
  </wsdl:message>
  <wsdl:message name="IAppService_ShowFaculties_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowFacultiesResponse" />
  </wsdl:message>
  <wsdl:message name="IAppService_DeleteId_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteId" />
  </wsdl:message>
  <wsdl:message name="IAppService_DeleteId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAppService_ShowInfoAboutUsersByName_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowInfoAboutUsersByName" />
  </wsdl:message>
  <wsdl:message name="IAppService_ShowInfoAboutUsersByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowInfoAboutUsersByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAppService_GetInfoAboutUsersByNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAboutUsersByNum" />
  </wsdl:message>
  <wsdl:message name="IAppService_GetInfoAboutUsersByNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAboutUsersByNumResponse" />
  </wsdl:message>
  <wsdl:message name="IAppService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IAppService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IAppService_GetInfoAboutUsersByAge_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAboutUsersByAge" />
  </wsdl:message>
  <wsdl:message name="IAppService_GetInfoAboutUsersByAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAboutUsersByAgeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppService_GetInfoAboutUsersByCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAboutUsersByCourse" />
  </wsdl:message>
  <wsdl:message name="IAppService_GetInfoAboutUsersByCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAboutUsersByCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IAppService_GetInfoAboutUsersByFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAboutUsersByFaculty" />
  </wsdl:message>
  <wsdl:message name="IAppService_GetInfoAboutUsersByFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAboutUsersByFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IAppService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IAppService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:portType name="IAppService">
    <wsdl:operation name="ShowFaculties">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppService/ShowFaculties" message="tns:IAppService_ShowFaculties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppService/ShowFacultiesResponse" message="tns:IAppService_ShowFaculties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppService/DeleteId" message="tns:IAppService_DeleteId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppService/DeleteIdResponse" message="tns:IAppService_DeleteId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowInfoAboutUsersByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppService/ShowInfoAboutUsersByName" message="tns:IAppService_ShowInfoAboutUsersByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppService/ShowInfoAboutUsersByNameResponse" message="tns:IAppService_ShowInfoAboutUsersByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoAboutUsersByNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppService/GetInfoAboutUsersByNum" message="tns:IAppService_GetInfoAboutUsersByNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppService/GetInfoAboutUsersByNumResponse" message="tns:IAppService_GetInfoAboutUsersByNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppService/Edit" message="tns:IAppService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppService/EditResponse" message="tns:IAppService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoAboutUsersByAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppService/GetInfoAboutUsersByAge" message="tns:IAppService_GetInfoAboutUsersByAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppService/GetInfoAboutUsersByAgeResponse" message="tns:IAppService_GetInfoAboutUsersByAge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoAboutUsersByCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppService/GetInfoAboutUsersByCourse" message="tns:IAppService_GetInfoAboutUsersByCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppService/GetInfoAboutUsersByCourseResponse" message="tns:IAppService_GetInfoAboutUsersByCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoAboutUsersByFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppService/GetInfoAboutUsersByFaculty" message="tns:IAppService_GetInfoAboutUsersByFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppService/GetInfoAboutUsersByFacultyResponse" message="tns:IAppService_GetInfoAboutUsersByFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppService/Save" message="tns:IAppService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppService/SaveResponse" message="tns:IAppService_Save_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAppService" type="tns:IAppService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowFaculties">
      <soap:operation soapAction="http://tempuri.org/IAppService/ShowFaculties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteId">
      <soap:operation soapAction="http://tempuri.org/IAppService/DeleteId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowInfoAboutUsersByName">
      <soap:operation soapAction="http://tempuri.org/IAppService/ShowInfoAboutUsersByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoAboutUsersByNum">
      <soap:operation soapAction="http://tempuri.org/IAppService/GetInfoAboutUsersByNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IAppService/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoAboutUsersByAge">
      <soap:operation soapAction="http://tempuri.org/IAppService/GetInfoAboutUsersByAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoAboutUsersByCourse">
      <soap:operation soapAction="http://tempuri.org/IAppService/GetInfoAboutUsersByCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoAboutUsersByFaculty">
      <soap:operation soapAction="http://tempuri.org/IAppService/GetInfoAboutUsersByFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IAppService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppService">
    <wsdl:port name="BasicHttpBinding_IAppService" binding="tns:BasicHttpBinding_IAppService">
      <soap:address location="http://localhost:27205/AppService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>