ClientWinForms/Connected Services/ServiceReference1/AppService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27205/AppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfApplication" />
  <xs:import schemaLocation="http://localhost:27205/AppService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ShowFaculties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="users" nillable="true" type="q1:ArrayOfServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowFacultiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ShowFacultiesResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="users" nillable="true" type="q3:ArrayOfServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="DeleteIdResult" nillable="true" type="q4:ServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowInfoAboutUsersByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="users" nillable="true" type="q5:ArrayOfServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowInfoAboutUsersByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="ShowInfoAboutUsersByNameResult" nillable="true" type="q6:ServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoAboutUsersByNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="users" nillable="true" type="q7:ArrayOfServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoAboutUsersByNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="GetInfoAboutUsersByNumResult" nillable="true" type="q8:ServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nameOfFamily" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="faculty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
        <xs:element minOccurs="0" name="course" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoAboutUsersByAge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="age" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="users" nillable="true" type="q9:ArrayOfServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoAboutUsersByAgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="GetInfoAboutUsersByAgeResult" nillable="true" type="q10:ArrayOfServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoAboutUsersByCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="course" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="users" nillable="true" type="q11:ArrayOfServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoAboutUsersByCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="GetInfoAboutUsersByCourseResult" nillable="true" type="q12:ArrayOfServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoAboutUsersByFaculty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="faculty" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="users" nillable="true" type="q13:ArrayOfServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoAboutUsersByFacultyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfApplication" minOccurs="0" name="GetInfoAboutUsersByFacultyResult" nillable="true" type="q14:ArrayOfServerUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countUsers" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nameOfFamily" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="faculty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
        <xs:element minOccurs="0" name="course" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>