ClientWinForms/Connected Services/ServiceReference1/AppService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServerUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerUser" nillable="true" type="tns:ServerUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerUser" nillable="true" type="tns:ArrayOfServerUser" />
  <xs:complexType name="ServerUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Course" type="xs:int" />
      <xs:element minOccurs="0" name="Faculty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameOfFamily" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerUser" nillable="true" type="tns:ServerUser" />
</xs:schema>